# Maven
target/
*.log

# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# Karate
karate-reports/
karate-summary.html

# Reportes de Serenity BDD
target/site/serenity/
serenity.summary.json
serenity.properties.example

# OS Generated
.DS_Store
Thumbs.db

